
  <%- include("header.ejs") %>
  <h1>About</h1>
  <p>Welcome to Ash Blog's, your source for insights. We're a passionate team dedicated to delivering valuable content on our blog.
     Join us as we explore, learn and share our experiences in the world of ASH.</p>
  <%- include("footer.ejs") %>
