
<%- include("header.ejs") %>
  <title>Contact Us</title>

</head>
<body>
  <header>
    <h1>Contact Us</h1>
  </header>

  <section>
    <p>We'd love to hear from you! Feel free to get in touch with us using the contact information below:</p>

    <h2>Email:</h2>
    <p>info@example.com</p>

    <h2>Phone:</h2>
    <p>(123) 456-7890</p>

    <h2>Address:</h2>
    <p>123 Main Street, Cityville, Country</p>
    <%- include("footer.ejs") %>
